/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mrgnlefttop195px10px{
   margin-top: -10px;
}
.mdc-form-field>label {
    margin-left: 0;
    margin-right: auto;
    padding-left: 4px;
    padding-right: 0;
    order: 0;
    color: black;
}
.mdc-radio__outer-circle {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: black !important; /* Change border color to black */
    border-radius: 50%;
    transition: border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}
mdc-radio__inner-circle {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transform: scale(0, 0);
    border-width: 10px;
    background-color: #00bcd4 !important;
    border-style: solid;
    border-radius: 50%;
    transition: transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1), border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}


.toggle-group {
    display: flex;
  }
  
.width300height40{
    width: 300px;
    height: 41px;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc; /* Line color */
    margin: 0 10px; /* Spacing between line and toggle buttons */
  }
  
  .toggle-group {
    display: flex;
  }
  
  mat-button-toggle {
    border-radius: 0px;
    margin-right: 0px;
    height: 45px;
    width: 150px;
    font-weight: 300;
  }
  
  .active-toggle {
    background-color: #00bcd4 !important; /* Active button background color */
    color: white; /* Text color for active button */
  }
  
  .inactive-toggle {
    background-color: white !important; /* Background color for inactive button */
    color: black !important; /* Text color for inactive button */

  }
  /* Apply black border to the mat-form-field outline */
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
    stroke: black; /* For the black border */
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    stroke-width: 1px;
    stroke: black;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
    color: black !important;
  }
  .cards-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .dashboard-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: -50px ;
    width: 28%;
    background-color: white !important;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1) !important;
  }
  
  .card-content {
    display: flex;
    width: 100%;
  }
  
  .chart-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .apx-chart {
    width: 100%;
    max-width: 200px; /* Adjust this as needed */
  }
  
  .info-container {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .color-box {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .legend-text {
    font-weight: 500;
    margin-right: 10px;
  }
  
  .legend-percentage {
    font-weight: bold;
    color: #333;
  }
  .mat-mdc-text-field-wrapper {
    width: 100%;
    margin-top: 10px;
    height: 55px;
}
  .dashboard-cardd {
    width: 20%;
    height: 217px;
    padding: 10px;
    border-radius: 8px;
    background-color: white !important; /* Set background color to white */
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1) !important; /* Apply box shadow for card effect */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .dashboard-card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  .increase {
    color: green;
    font-size: 0.8em;
  }
  
  .decrease {
    color: red;
    font-size: 0.8em;
  }
  
  /* Additional styling */
  .mat-table {
    width: 100%;
  }
  
  .mat-header-row {
    background-color: #f5f5f5;
  }
  
  .action-preventive {
    color: green;
  }
  
  .action-corrective {
    color: red;
  }
  
  .action-sbm {
    color: orange;
  }
  
  .mat-paginator {
    margin-top: 20px;
  }
  .percent{ 
    margin-top: 80px !important;
    margin-left: -56px !important;
  }
  .count{
    margin-left: 37px !important;
    font-size: 38px !important;
  }
  .total{
    margin-top: 30px !important;
    font-size: 22px !important;
    margin-left: 32px !important;
  }

  .mat-mdc-form-field {
    width: 170px;
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--mat-form-field-container-text-font);
    line-height: var(--mat-form-field-container-text-line-height);
    font-size: var(--mat-form-field-container-text-size);
    letter-spacing: var(--mat-form-field-container-text-tracking);
    font-weight: var(--mat-form-field-container-text-weight);
}
.mrgnleft50{
  margin-left: -50px;
}
.table-header {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center; /* Center items vertically */
  margin-bottom: 16px; /* Space between header and table */
}

.record-count {
  font-weight: bold; /* Optional styling */
}

.search-field {
  width: 200px; /* Set a fixed width for the search field */
}
.star-icon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  margin-bottom: 16px; /* Space below the image */
  margin-top: 53px;
}
.vessel-icon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}
.logo-icon{
  width: 114px;
  height: 42px;
  margin-left: 107px;
}
